<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fa5b1">  <td>19/10/15 13:29:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.Verify_Registration_With_Positive_Value()[pri:0, instance:MavenProject_PageObjectModel.MavenProject_POMl.RegistrationTestCases@78a287ed]">Verify_Registration_With_Positive_Value</td> 
  <td>main@767511741</td>   <td></td> </tr>
<tr bgcolor="9fa5b1">  <td>19/10/15 13:29:08</td>   <td>-2580</td> <td>&nbsp;</td><td title="&gt;&gt;RegistrationTestCases.beforeTestMethod()[pri:0, instance:MavenProject_PageObjectModel.MavenProject_POMl.RegistrationTestCases@78a287ed]">&gt;&gt;beforeTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@767511741</td>   <td></td> </tr>
</table>
